@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;700&display=swap');


:root {
  --var-blood: #FF0000;
  --var-grey: #4444448a;
  --var-white: #FFFFFF;
  --var-darkred: #B41414;
}

.body-container {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-image: url(/img/cover.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Inter', sans-serif;
  color: var(--white);
  height: 100vh;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 12px;
  padding: 0 16px;
  position: relative;
}

h5 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
}

.logo {
  width: 48px;
  height: 48px;
}

.logo:hover {
  cursor: pointer;
}

.main-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80vh;
}

.title-description{
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 321px;
  padding-left: 32px;
  padding-right: 32px;
  color: var(--var-white);
  background-color: rgba(0, 0, 0, 0.2);
}

.text {
  text-align: center;
}

.add-names {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 1.60rem;
  margin-bottom: 0;
  font-weight: 900;
}

p {
  margin-top: 0.875rem;
  font-size: 1.2rem;
}

input {
  padding: 12px;
  margin-top: 0;
  margin-bottom: 16px;
  width: 275px;
  background-color: var(--var-white);
  border-radius: 1.125rem;
  color: var(--var-blood);
  font-size: 1.1rem;
}

input:focus {
  outline-color: var(--var-darkred);
  font-weight: 700;
  color:var(--var-darkred);
}

.alert-message {
  font-size: 1.1rem;
  color: var(--var-white);
  margin: 0;
  margin-bottom: 14px;
}

.add-victim {
  width: 240px;
  height: 48px;
  padding: 8px;
  border-radius: 32px;
  background-color: var(--var-darkred);
  color: var(--var-white);
  display: flex;
  align-items: center;
  justify-content: center; 
  border: none;
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 32px;
}


.random-button {
  width: 240px;
  height: 48px;
  padding: 8px;
  border-radius: 32px;
  background-color: var(--var-darkred);
  color: var(--var-white);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  margin-top: 0;
  border: none;
  font-size: 1.1rem;
  font-weight: 700;
}

.knife-icon {
  margin-right: 0.75rem;
  margin-top: 0.25rem;
}

.start-killing{
display: flex;
flex-direction: column;
align-items: center;
padding-left: 2rem;
padding-right: 2rem;
width: 100%;
height: 100%;
}


#name-list {
  width: 800px;
  height: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.list-name {
  color: var(--var-white);
  font-size: 1.2rem;
  padding: 0 9px 26px 9px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  background-image: url(/img/cardvict.svg);
  margin-bottom: 0.70rem;
  border-radius: 16px;
  width: 85px;
  height: 85px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.rmv-button {
  color: var(--var-grey);
  font-weight: 700;
  border-radius: 80%;
  border: none;
  width: 18px;
  height: 18px;
  margin-left: 10px;
  display: flex;
  justify-content: center; 
  align-items: center;
}
 
@media (max-width: 576px) {
  
 
    #name-list {
      width: 280px;
      height: 280px;
      padding: 0;
      margin-top: 32px;
      gap: 12px;
      flex-wrap: wrap;
      overflow-y: scroll;
    }
    
 
    .list-name {
      font-size: 1.2rem;
      padding: 0 9px 26px 9px;
      margin-bottom: 0.70rem;
      border-radius: 16px;
      width: 100px;
      height: 100px;
    }
  
  .random-button {
    margin-top: 2rem;
  }

}