@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

:root {
  --blood: #FF0000;
  --grey: #444444;
  --black: #000000;
  --white: #FFFFFF;
  --darkred: #B41414;
}

* {
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}

html {
  width: 100vw;
  height: 100vh;
}

.body-container {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url(/img/cover.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.header-container{
  background-color: var(--grey);
  align-items: center;
  height: 10vh;   
}

.logo{
  padding: 8px;
}

h5{
  color: var(--white );
}

.main-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90vh;
}

.title-description{
  display: flex;
  flex-direction: column;
  height: 312px;
  padding-left: 32px;
  padding-right: 32px;
  color: var(--var-white);
  background-color: var(--black);
}

.text {
  text-align: center;
}

.add-names {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 1.55rem;
  margin-bottom: 0;
  font-weight: 900;
}

p {
  margin-top: 14px;
  font-size: 1.25rem;
  font-weight: 600;
}

input {
  padding: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  width: 20rem;
  background-color:var(--white);
  border-radius: 18px;
  color: var(--blood);
}

input:focus {
  outline-color:var(--blood);
  font-weight: 700;
  color: var(--blood);
}

.alert-message {
  font-size: 1rem;
  color:var(--white);
  margin: 0;
}

.add-victim {
background-color: var(--var-darkred);
border-radius: 16px;
font-size: 1rem;
color: var(--var-white);
width: 12rem;
align-self: center;
margin-bottom: 1rem;
margin-top: 1rem;
padding-bottom: 0.45rem;
border: none;
margin-bottom: 2rem;
}

.random-button {
  background-color: var(--var-darkred);
  border-radius: 16px;
  font-size: 1rem;
  color: var(--var-white);
  width: 12rem;
  align-self: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding-bottom: 0.45rem;
  border: none;  
}

.knife-icon {
margin-right: 0.75rem;
margin-top: 0.25rem;
}


.start-killing{
display: flex;
flex-direction: column;
align-items: center;
padding-left: 32px;
padding-right: 32px;
margin-bottom: 2rem;
height: 50vh;
}

#name-list {
  margin: 2.5rem 1rem 1.5rem 1rem;
  padding: 0;
  width: 275px;
  height: 300px;
  overflow-y: scroll;
}

.list-name {
  color: var(--white);
  font-size: 1rem;
  padding: 0.6rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.65);
  margin-bottom: 0.70rem;
  border-radius: 1rem;
}

.rmv-button {
  color: var(--black);
  font-weight: 700;
  border-radius: 50%;
}
