@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;700&display=swap');

* {
    box-sizing: border-box;
    
}

:root{
    --blood: #FF0000;
    --grey: #4444448a;
    --darkred: #4e0000;
    
}

body{ /*fondo de la pagina */
    background-color: var(--grey);
    font-family: 'Inter', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin:0;
}

button{ /* boton seguir matando */
    background-color:var(--darkred);
    border: 0;
    border-radius: 20px;
    box-shadow: 0 2px 4px var(--darkred) ; /* recomandado ponerle sombra */
    color: rgb(243, 245, 243);
    font-size: 16px;
    padding: 10px 25px;


}

.modal-container{  /* pop-up con la img de sangre hay que adaptarlo */
    display: flex;
    background-color: cover var(--grey);   
    align-items: center;
    justify-content: center;
    position: fixed; /* se pone encima del boton cuando das click */
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    opacity: 0; /* esto mantiene oculto el modal ir a JS*/
    transition: .2s ease-out;
   
}

.show{
    pointer-events: auto;
    opacity: 1;
}

.modal{
    background-color:var(--darkred);
    background-image: url(/pop-up/blood.svg);
    width: 250px;
    height: 250px;
    max-width: 100%;
    padding: 30px 50px;
    border-radius: 10px;
    box-shadow: 0 2px 4px black;
    text-align: center ;
    color: white;
    --webkit-animation: tremor-animation 0.5s 1;
}


.modal h1 {
    margin: 0;
    
}

.modal h3 {
    opacity: 0.7;
    font-size: 14px;

}